<div class='registration-main'>
  <div class="inner">
    <div class="user-wrapper">
      <h2 class="page-geading">
        <%="#{@user.nickname}さんの登録情報"%>
      </h2>
      <h3 class="form-header-text">
      <%= link_to "ユーザー登録情報を編集する", edit_user_path(current_user) %>
      </h3>
    </div>
  </div>
</div>