<div class="wrapper">

  <div class="header">
    <h1>Skill Upper/ サイドバーのページ選択で変化</h1>
  </div>

  <div class="container">
    <div class="side_bar">
      <div class="menu">
        <ul>
          <li>menu</li>
          <li>nicknameさん</li>
          <li>マイページ/ログアウト</li>
          <li>スキル一覧</li>
          <li>バディ検索</li>
          <li>バディチャット</li>
        </ul>
      </div>
    </div>
    <div class="content">
    </div>
  </div>

</div>
