<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
 
    <h1 class="title">SkillUpper(スキルアッパー)</h1>
      <div class='nav'>
        <ul class='header-lists'>
            <% if user_signed_in? %>
                <li><%= link_to 'マイページ', "/users/#{current_user.id}", class: "user-nickname" %> /<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
              <% else %>
              <li><%= link_to '新規登録', new_user_registration_path, class: "sign_up" %> /<%= link_to "ログイン", new_user_session_path, class: "login" %></li>
              
              <% end %>
          </ul>
      </div>
</header>
