    <div class="side_bar">
      <div class="menu-content">
        <ul class="menu-list">
          <li class="menu">Menu</li>
          <li class="list-item">
            <%= link_to "スキルを追加する",   new_skill_path %>
          </li>
          <li class="list-item"><%= link_to "スキル一覧", root_path %></li>
          <li class="list-item">バディ検索</li>
          <li class="list-item">バディチャット</li>
        </ul>
      </div>
    </div>