    <div class="side_bar">
      <div class="menu-content">
        <ul class="menu-list">
          <li class="menu">Menu</li>
          
          <li>
            <%= link_to "スキルを追加する",   new_skill_path, class:"skill" %>
          </li>
          <li><%= link_to "スキル一覧", root_path %></li>
          <li>バディ検索</li>
          <li>バディチャット</li>
        </ul>
      </div>
    </div>