    <div class="side_bar">
      <div class="menu">
        <ul>
          <li>menu</li>
        </ul>

       
        <ul>
          <li>スキル一覧</li>
          <li>バディ検索</li>
          <li>バディチャット</li>
        </ul>
      </div>
    </div>